.banner {
    position: relative;
    text-align: center;
    color: white;
}
.banner img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Add this to ensure the image covers the full width */
}
.banner .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.banner h1 {
    font-size: 3em;
    margin: 0;
    font-family: "Bokor", system-ui;
    color: #FADC5D;
}
.banner p {
    font-size: 1.2em;
    margin: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
.main-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
    position: relative;
    z-index: 1;
    padding-top: 20px; /* Add padding to avoid overlap */
}
.main-content img {
    max-width: 100%; /* Make image responsive */
    height: auto;
    padding: 20px;
    object-fit: cover; /* Add this to ensure the image covers the full width */
}
.main-content .text {
    padding: 20px;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
}
.red {
    color: #A01B1B;
}
.info-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(to right, rgba(51, 51, 51, 0.9), rgba(128, 0, 0, 0.9));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info-section .left, .info-section .right {
    text-align: center;
    width: 100%;
}
.tit {
    font-style: italic;
}
.art {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -10px;
}
.msg {
    text-align: justify;
    text-indent: 50px;
}
.info-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.white-line {
    width: 95%;
    border: 0;
    border-top: 1px solid #fff;
    margin: 20px auto;
}
.info-section .left img {
    max-width: 100%; /* Make image responsive */
 height: auto;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #fff;
    margin-top: 25px;
}
/* Media Queries for Responsiveness */
@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        margin-left: 100px;
        margin-right: 150px;
    }
    .info-section {
        flex-direction: row;
        justify-content: space-between;
    }
    .info-section .right {
        margin-top: 0;
    }
}
/* Media Queries for Responsiveness */
@media (max-width: 767px) {
    .banner .overlay {
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px; /* Add padding to the top to ensure visibility */
    }
    .banner h1 {
        font-size: 2em; /* Adjust font size for mobile view */
    }
    .banner p {
        font-size: 1em; /* Adjust font size for mobile view */
        margin: 10px; /* Add uniform margin for mobile */
    }
    .main-content img {
        width: 100%; /* Make image full-width on mobile */
    }
    .info-section {
        flex-direction: column; /* Stack the left and right sections */
    }
    .info-section .left, .info-section .right {
        width: 100%; /* Ensure both sections take full width */
    }
    .info-section .right {
        order: 2; /* Ensure the right section comes below the left section */
    }
}