
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
        color: #333;
    }
    
    /* Welcome Section Styles */
    .contain{
        padding: 20px;
        padding-right: 20px;
    }
    
    .welcome {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .application {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #FFEBE4;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
    }

    .application-note {
        text-align: justify;
        width: 100%;
    }

    .application-button {
        margin-top: 20px;
    }

    .application-button button{
        background-color: #82AF43;
        color: #FFFFFF;
    }

    .form{
        display: flex;
    }

    /* Form Styles */
        .content {
            flex-grow: 1;
            padding: 20px;
            box-sizing: border-box;
        }
        .content h1 {
            font-size: 24px;
            margin-bottom: 10px;
            text-align: left;
            color: #5B5B5B;
        }
        .content h2 {
            font-size: 18px;
            margin-top: 20px;
            border-bottom: 2px solid #FFA500;
            padding-bottom: 5px;
            text-align: left;
            color: #5B5B5B;
        }
        .progress-container {
            display: flex;
            width: 95%;
            align-items: center;
            justify-content: center;
            padding: 20px;
            flex-wrap: wrap;
            background-color: #5B5B5B;
        }
        .step {
            display: flex;
            align-items: center;
            margin: 10px;
        }
        .step-number {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
            color: #4a4a4a;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            margin-right: 10px;
        }
        .step-number.inactive {
            background-color: #6d6d6d;
            color: #b3b3b3;
        }
        .step-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            text-align: center;
            color: #FFFFFF;
        }
        .step-text.inactive {
            color: #b3b3b3;
        }
        .arrow {
            font-size: 20px;
            color: #b3b3b3;
            margin: 0 10px;
        }
        .tain {
            width: 100%;
        }
        .tain h1 {
            font-size: 24px;
            border-bottom: 2px solid #ff7f00;
            padding-bottom: 10px;
        }
        .type {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 300px;
            margin: 25 auto;
            padding: 20px;
            border-radius: 5px;
        }
        label {
            font-weight: bold;
            font-size: 18px;
        }
        select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
        }
        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            margin-top: 20px;
            font-size: 16px;
            text-align: center;
        }
        .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
        }
        
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; 
            padding: 20px;
            border: 1px solid #888;
            width: 80%; 
        }

        .modal-content h1 {
            font-size: 24px;
            border-bottom: 2px solid #A01B1B;
            padding-bottom: 10px;
        }
        
        .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close-button:hover,
        .close-button:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button {
            background-color: #7db343;
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
        }
        .button a {
            color: inherit;           
            text-decoration: none;    
        }
        
        .button a:hover {
            text-decoration: none;    
            color: inherit;           
        }
        
        .button:hover {
            background-color: #82AF43;
        }
        @media (max-width: 400px) {
            .type {
                width: 100%;
                padding: 10px;
            }
        }
        @media (max-width: 768px) {
            .progress-container {
                flex-direction: column;
            }
            .arrow {
                display: none;
            }
        }
        
    /* Responsive Design */
    @media screen and (max-width: 768px) {
        .header {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .welcome {
            flex-direction: column;
        }

        .profile-info button {
            margin-top: 10px;
        }

        .application {
            flex-direction: column;
        }

        .form {
            flex-direction: column;
        }

        .option {
            width: 50%;
        }

        .option button {
            text-align: center;
        }

        .container {
            padding: 10px;
        }
    }

    @media screen and (max-width: 480px) {
        .profile {
            flex-direction: column;
        }

        .profile-info {
            margin-left: 0;
            text-align: center;
        }

        .profile-info button {
            width: 100%;
        }

        .application-note h2 {
            font-size: 18px;
        }

        button {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
            .content {
                width: 100%;
            }
            .form-group {
                flex-direction: column;
            }
            .form-group label {
                max-width: 100%;
            }
            .form-row {
                flex-direction: column;
            }
            .form-row .form-group {
                margin-right: 0;
            }
        }